<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/headers :: header"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6 offset-l3 offset-m3">
            <div class="card-panel center-align" style="margin-top: 10%">
                <div class="row">
                    <form class="col s12" th:action="@{/get/results}" method="post">
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <input placeholder="enter string with special charaters" name="test" id="first_name" type="text" class="validate">
                                <label for="first_name">String</label>
                            </div>
                        </div>
                        <div th:if="${test != null}" class="row">
                            <p class="grey-text center-align">Results: &nbsp;[[${test}]]</p>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn green" style="width:100%;"> get</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<section th:replace="partials/headers :: scripts"></section>
</html>

